* {
    margin: 0;
}
.bar {
    background-color: aqua;
    height: 10%;
    display: block;
    padding: 10px;
    border-radius: 20px;
}

.footer {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 10%;
    background-color: aqua;
    padding: 10px;
    border-radius: 20px;
}
.content {
    position: fixed;
    right: 0;
    top: 0;
    margin: 10px;
}

.bar1, .bar2, .bar3 {
    border-radius: 20px;
    
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
  }
.profile {
    /*display: none;*/
    position: fixed;
    right: 0;
    top: 5rem;
    background-color: aqua;
    width: 100px;
    height: 200px;
    border-radius: 20px;
  }